doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1.0")
		title Monterail task
		link(rel="stylesheet" href="/css/style.min.css")

	body
		block header
			header
				div.header-row.header-row__top
					div.header--nav
						h1.header--title Questions
						button.btn.btn__add
					div.header--form-fields
						div.header--category
							input(type="radio" id="shelf" name="category")
							label.radio.radio__circle(for="shelf")
								span My shelf

							input(type="radio" id="all" name="category")
							label.radio.radio__circle(for="all")
								span All questions
						div.header--sorting
							span.sorting-text Sort by:
							input(type="radio" id="recent" name="sort-by" checked)
							label.radio.radio__link(for="recent") recent
							span.sorting-text or
							input(type="radio" id="hot" name="sort-by")
							label.radio.radio__link(for="hot") hot

				form.search-form.header-row(method="post")
					input.input.input__search(placeholder="Search questions")
					button.btn.btn__search(type="submit") SEARCH

		main.box.container
			div.wrapper
				block main
