extends partials/template.pug

block main
	div.box
		- var i = 0
		while i < 3
			- i++
			div.item__spaced
				div.item--header
					div.item--header--photo
						img.photo(src="/images/face.png")
					div.item--header--text
						div.action
							a.action--name(href="/modal") Joseph
							span.action--type found on new york times
						a.title(href="/single") Questioning the Idea of Good Carbs, Bad Carbs
				div.item--main
					div.item--body
						div.item--activity__main
							div.item--activity--name Found

						div.item--activities-summary
							div.item--activities-counter 6
							div.item--activities-summary--more more<br>activities

						div.item--activity
							div.photo-box
								img.photo(src="/images/face.png")
							div.item--activity--name Commented

						div.item--activity
							div.photo-box
								img.photo(src="/images/face.png")
							div.item--activity--name__answered Answered

						div.item--activity
							div.photo-box
								img.photo(src="/images/face.png")
							div.item--activity--name__answered Answered

						div.item--activity
							div.photo-box
								img.photo(src="/images/face.png")
							div.item--activity--name__answered Answered

					div.item--stats
						div.stat.stat__item
							span.stat--counter 2
							span.stat--text related discussions

						div.stat.stat__item
							span.stat--counter 8
							span.stat--text peers involved

						div.stat.stat__item
							span.stat--counter 5
							span.stat--text conversations
		div.load-more
			button.btn.btn__link.btn__load load more questions
