extends partials/template.pug

block header

block main
	div.layer
	div.modal
		span.close.bounce

		div.modal-wrapper
			div.modal--profile.center-box
				img.photo__big(src="/images/face.png")
				div.profile-name Dr. Halima

			ul.stats-list.stats-list__profile
				li.stat
					span.stat--label Member for
					span.stat--value 5 months
				li.stat
					span.stat--label Last seen
					span.stat--value Sunday afternoon
				li.stat
					span.stat--label Activity level
					span.stat--value
						i.badge

			hr.hline

			div.modal--nav
				button.btn.btn__nav.btn__prev
				h3.big-title How it all started
				button.btn.btn__nav.btn__next

			h4.modal--header That's where we have been these 5 month ago

			div.square-stats-wrapper
				ul.square-stats
					li.square-stats--row
						span.square-stat.square-stat__1st
							span.stat--counter.square-stat--value 46
							span.stat--text peers
						span.square-stat.square-stat__2nd
							span.stat--counter.square-stat--value 29
							span.stat--text discussions
					li.square-stats--row
						span.square-stat.square-stat__3rd
							span.stat--counter.square-stat--value 19
							span.stat--text findings
						span.square-stat.square-stat__4th
							span.stat--counter.square-stat--value 10
							span.stat--text questions

			h4.modal--header Who joined the platform the same period

			div.center-box
				div.card
					div.card--photo
						img.photo(src="/images/face.png")
					a.card--name(href="#") Joseph Aluoh
				div.card
					div.card--photo
						img.photo(src="/images/face.png")
					a.card--name(href="#") Joseph Aluoh
				div.card
					div.card--photo
						img.photo(src="/images/face.png")
					a.card--name(href="#") Joseph Aluoh

			h4.modal--header The hottest discussion these days

		div.modal--hottest-discussion
			div.modal-wrapper
				img.photo(src="/images/face.png")

				div.action
					a.action--name(href="#") Andrew
					span.action--type found The Guardian article
				a.title(href="#") Vegan diet to stop diabetes progress

				ul.stats-list.stats-list__hottest
					li.stat.stat__item
						span.stat--counter 6
						span.stat--text peers involved

					li.stat.stat__item
						span.stat--counter 3
						span.stat--text related discussions

					li.stat.stat__item
						span.stat--counter 3
						span.stat--text conversations

					li.stat.stat__item
						span.stat--counter 19
						span.stat--text upvotes
