extends partials/template.pug

block header
	header.single-question-page
		div.header-row.header-row__top
			div.header--nav
				div.go-back
					a.go-back-link(href="#")
				h1.header--title Questions
				button.btn.btn__add
			div.header--last-comment.stat.stat__item
				span.stat--text Last time discussed
				span.stat--counter 12
				span.stat--text days ago


block main
	div.item.item__main.box
		div.item--cells-wrapper
			div.item--cell__first
				div.item--header__extended
					div.item--header--photo
						img.photo(src="/images/face.png")
					div.item--header--text
						div.action
							a.action--name(href="#") Adam
							span.action--type is asking
						a.title(href="#") Questioning the Idea of Good Carbs, Bad Carbs
				div.item--body__extended
					div.item--space
					div.item--content
						p.content.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			div.item--cell__second
				div.item--action
					a.item--action--link.bounce(href="#") unfollow

				div.item--voting
					div.stat.stat__item
						span.stat--counter 19
						span.stat--text upvotes
						span.stat--controls
							button.btn.btn__upvote
							button.btn.btn__downvote

		div.item--button
			button.btn.btn__answer GIVE new answer

	div.stat.stat__item.answers-header
		span.stat--counter 2
		span.stat--text peers already answered Adam

	div.answers-wrapper
		div.answer.answer__main
			div.answer--photo
				img.photo(src="/images/face.png")
			div.answer--body
				div.action.answer--action
					a.action--name(href="#") Adam
					span.action--type commented it
					span.action--time yesterday
				div.answer--content
					p.content.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
			div.answer--voting
				div.stat.stat__item
					span.stat--counter 19
					span.stat--text upvotes
					span.stat--controls
						button.btn.btn__upvote
						button.btn.btn__downvote

		div.answer.answer__pushed.answer__last
			div.answer--photo
				img.photo(src="/images/face.png")
			div.answer--body
				div.action.answer--action
					a.action--name(href="#") Adam
					span.action--type commented it
					span.action--time yesterday
				div.answer--content
					p.content.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
			div.answer--voting
				div.stat.stat__item
					span.stat--counter 19
					span.stat--text upvotes
					span.stat--controls
						button.btn.btn__upvote
						button.btn.btn__downvote

		div.item--button
			button.btn.btn__answer CONTINUE discussion


	div.answers-wrapper
		div.answer.answer__main.answer__last
			div.answer--photo
				img.photo(src="/images/face.png")
			div.answer--body
				div.action.answer--action
					a.action--name(href="#") Adam
					span.action--type commented it
					span.action--time yesterday
				div.answer--content
					p.content.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
			div.answer--voting
				div.stat.stat__item
					span.stat--counter 19
					span.stat--text upvotes
					span.stat--controls
						button.btn.btn__upvote
						button.btn.btn__downvote

		div.item--button
			button.btn.btn__answer COMMENT
