.btn {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.bounce,
.btn {
	display: inline-block;

	&:active {
		transform: translateY(-1px);
	}
}

.btn__continue,
.btn__answer,
.btn__search {
	@include search-element();

	background-color: #fff;
	border-color: #e5e5e5;
	color: #b0b2b3;
	font-family: $font-family--bold;
	margin-left: 20px;
	width: 180px;
}

.btn__search {
	@include media-above(840px) {
		width: 1/4 * 800px - 20px;
	}

	@include media-below(840px) {
		margin-left: 0;
		width: 25%;
	}
}

.btn__search {
	border-color: #a7a9ac;
	color: #a7a9ac;
}

.btn__continue,
.btn__answer {
	color: #2d2c2e;
	margin-left: 0;
}

.btn__add,
.btn__nav {
	@include sprite(0px, 0px);

	background-color: $action-button-color;
	border: none;
	border-radius: 50%;
	display: inline-block;
	margin-left: 45px;
	height: 2.6rem;
	vertical-align: middle;
	width: 2.6rem;
}

.btn__nav {
	@include sprite(0, -26px);
	margin-left: 0;
}

.btn__prev {
	@include sprite(0, -26px);
}

.btn__next {
	@include sprite(-26px, -52px);
}

.btn__link:hover {
	text-decoration: underline;
}

.btn__load {
	color: #db0f3c;
	border: none;
	font-family: $font-family--bold;
	font-size: 1.6rem;
	padding: 0;
}

.btn__upvote,
.btn__downvote {
	border-style: solid;
	display: block;
	padding: 0;
}

.btn__upvote {
	border-width: 0 $voting-control-size (2*$voting-control-size) $voting-control-size;
	border-color: transparent transparent $action-button-color transparent;
	margin-bottom: 10px;
}

.btn__downvote {
	border-width: (2*$voting-control-size) $voting-control-size 0 $voting-control-size;
	border-color: $action-button-color transparent transparent transparent;
}
