.card {
	display: inline-block;
	margin: 0 5px;
	text-align: center;
	vertical-align: top;
	width: 90px;
}

.card--photo {
	@extend .photo-box;
	@include pattern-box();

	margin-bottom: 10px;
}

.card--name {
	@include profile-name();

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}
