.card {
	display: inline-block;
	margin: 0 5px;
	text-align: center;
	vertical-align: top;
	width: 90px;
}

.card--photo {
	margin-bottom: 10px;
}

.card--name {
	@extend .user--name;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}
