// .title {
// 	color: #2375c0;
// 	display: block;
// 	font-family: $font-family--italic;
// 	font-size: 2rem;
// 	text-decoration: none;
//
// 	&:hover {
// 		text-decoration: underline;
// 	}
// }

.comments-header {
	margin-bottom: 15px;
	margin-top: 30px;
	text-align: center;
}
