// Containers and wrappers + classes
@mixin container() {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.container {
	@include container();
	width: 1200px;
}

.wrapper {
	@include container();
	width: 800px;
}

@mixin up-grey-text() {
	color: grey;
	font-family: $font-family;
	font-size: 1.4rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@mixin profile-name() {
	color: #0266b9;
	font-family: $font-family--bold;
	font-size: 1.6rem;
	line-height: 1;

	&__big {
		font-size: 2.2rem;
	}
}

@mixin counter-style() {
	color: inherit;
	font-family: $font-family--bold;
	font-size: 1.6rem;
	position: relative;
	z-index: 2;
}

@mixin label-style() {
	color: inherit;
	font-family: $font-family--italic;
	font-size: 1.6rem;
	position: relative;
	z-index: 2;
}

// Display as flex
@mixin flex() {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

// <ul /> without list styles
@mixin not-list() {
	list-style: none;
	padding-left: 0;
}

// Box with stripes
@mixin pattern-box() {
	background-image: url('/images/pattern.png');
}

// Search input and button common styles
@mixin search-element {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid;
	border-radius: 0;
	display: inline-block;
	font-family: inherit;
	font-size: 1.6rem;
	height: 36px;
	line-height: 36px;
	margin: 0;
	padding: 0 10px;
	vertical-align: middle;
}

// Sprite
@mixin sprite($x-pos, $y-pos) {
	background-image: url('/images/sprite.png');
	background-repeat: no-repeat;
	background-size: 500px auto;
	background-position: $x-pos $y-pos;
}

// Media queries
@mixin media-above($size) {
	@media only screen and (min-width: $size + 1px) {
		@content;
	}
}

@mixin media-below($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}
