.layer {
	background-color: rgba(0,0,0,.7);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.modal {
	$width: 850px;

	background-color: #fff;
	left: 50%;
	margin-bottom: 20px;
	margin-left: - $width / 2;
	margin-top: 20px;
	overflow: auto;
	padding: 50px 0 30px 0;
	position: absolute;
	top: 0;
	width: $width;
	z-index: 11;

	@include media-below($width) {
		left: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 0;
		width: 100%;
	}
}

.modal-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 620px;
	padding: 0 10px;
}

.modal--header {
	@include up-grey-text();

	font-weight: normal;
	margin: 50px 0 20px 0;
	text-align: center;
}

// Modal hottest discussion (bottom, static box)
.modal--hottest-discussion {
	@include pattern-box();

	margin-top: 40px;
	padding: 15px 0;
	text-align: center;

	.photo {
		margin-top: - (15px + 25px);
		margin-bottom: 10px;
	}
}

.close {
	@include sprite(-68px, -26px);

	cursor: pointer;
	display: inline-block;
	height: 16px;
	right: 10px;
	position: absolute;
	top: 10px;
	width: 16px;
}

.photo__big {
	@extend .photo;

	height: 85px;
	width: 85px;
}

.profile-name {
	@include profile-name;

	font-size: 2.4rem;
	margin-top: 10px;
}

.big-title {
	color: inherit;
	font-family: $font-family--italic;
	font-size: 2.8rem;
	font-weight: normal;
	margin: 0;
}

// Activity badge
.badge {
	@include sprite(-26px, 0);

	display: inline-block;
	height: 20px;
	vertical-align: top;
	width: 50px;
}

// Horizontal line
.hline {
	border: solid #a9acae;
	border-width: 0 0 1px 0;
	margin: 20px 0;
}

.modal--nav {
	@include flex();
	@include not-list();
}
