.question--body,
.question--stats {
	display: inline-block;
	vertical-align: top;
}

.question--body {
	width: 75%;
}

.question--stats {
	width: 25%;
}

.question--header {
	background-color: #dff3fd;
	padding: 15px 0;
}
