// Fonts
@font-face {
	src: url('/fonts/Agfa-Rotis.woff');
	font-family: 'Agfa Rotis';
}

@font-face {
	src: url('/fonts/Agfa-Rotis-bold.woff');
	font-family: 'Agfa Rotis Bold';
}

@font-face {
	src: url('/fonts/Agfa-Rotis-italic.woff');
	font-family: 'Agfa Rotis Italic';
}

$font-family: 'Agfa Rotis', 'Arial', sans-serif;
$font-family--bold: 'Agfa Rotis Bold', 'Arial', sans-serif;
$font-family--italic: 'Agfa Rotis Italic', 'Arial', sans-serif;

// Colors
$action-button-color: #0266b9;

// Sizes
$voting-control-size: 5px;

// Breakpoints
$brkpt: 640px;
