// Fonts
@font-face {
	src: url('/fonts/Agfa-Rotis.woff');
	font-family: 'Agfa Rotis';
}

@font-face {
	src: url('/fonts/Agfa-Rotis-Bold.woff');
	font-family: 'Agfa Rotis Bold';
}

@font-face {
	src: url('/fonts/Agfa-Rotis-Italic.woff');
	font-family: 'Agfa Rotis Italic';
}

$font-family: 'Agfa Rotis', 'Arial', sans-serif;
$font-family--bold: 'Agfa Rotis Bold', 'Arial', sans-serif;
$font-family--italic: 'Agfa Rotis Italic', 'Arial', sans-serif;

// Colors
$background-color: #ffe1ad;
$control-color: #0266b9;
$control-color--disabled: #e5f5fd;
$link-color: #0266b9;
$stat-box-color: #e5f5fd;
$hline-color: #c3c4c6;
$text-color: #2d2c2e;
$text-color--secondary: #babcbe;
$border-color: #f4f4f4;
$container-background: #29282a;

//
$brkpt: 640px;
