html {
	font-size: 62.5%;
	line-height: 1.25;
	text-size-adjust: none;
}

body {
	background-color: #ffe1ad;
	color: #2d2c2e;
	font-family: $font-family;
	margin: 0;
	min-width: 320px;
	padding: 0 0 60px 0;
}

main {
	background-color: #fbfbfb;
	padding-bottom: 40px;
}
